<ion-header>
  <ion-toolbar>
    <ion-title>friendlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list-header>Friend List</ion-list-header>
  <ion-thumbnail class="ion-margin-start">
    <img src="https://picsum.photos/300/200">
  </ion-thumbnail>

  <ion-list>
    <ion-list-header>Item thumbnails</ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://picsum.photos/300/200">
      </ion-thumbnail>
      <ion-label>Larry M. Mirador</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://picsum.photos/300/200">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://picsum.photos/300/200">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://picsum.photos/300/200">
      </ion-thumbnail>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://picsum.photos/300/200">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://picsum.photos/300/200">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
