<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Scrollable Segment -->
<ion-segment scrollable value="heart">
  <ion-segment-button value="home">
    <ion-icon name="home">Home</ion-icon>
  </ion-segment-button>
  <ion-segment-button value="heart">
    <ion-icon name="heart">Trends</ion-icon>
  </ion-segment-button>
  <ion-segment-button value="pin">
    <ion-icon name="pin">Events</ion-icon>
  </ion-segment-button>
  <ion-segment-button value="star">
    <ion-icon name="star">Populars</ion-icon>
  </ion-segment-button>
  <ion-segment-button value="call">
    <ion-icon name="call">Media</ion-icon>
  </ion-segment-button>
  <ion-segment-button value="globe">
    <ion-icon name="globe">Internet</ion-icon>
  </ion-segment-button>
  <ion-segment-button value="basket">
    <ion-icon name="basket">Furnitures</ion-icon>
  </ion-segment-button>
</ion-segment>

  <ion-card>
    <ion-card-header>
      <img src="https://picsum.photos/300/200" alt="random-image">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Random Card Image</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quas sed illo eius aspernatur obcaecati, perferendis adipisci magnam molestiae excepturi mollitia, soluta atque debitis libero repudiandae facilis. Doloremque, repudiandae possimus.
    </ion-card-content>
  </ion-card>

  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Black Turtle</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Quiboloy Fraud Case</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Squid Game</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Call of Duty Mobile</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list>

  <ion-card>  
    <ion-button color="primary" expand="full">Next Page</ion-button>
  </ion-card>
</ion-content>
